body{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body div{
    width: 50%;
    height: 100%;
}
#left{
    background-image: url(picture-portrait.jpg);
    background-size: cover;
}
#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#right #text{
    text-align: center;
    font-weight: 600;
}
#text #verybold{
    font-size: 30px;
}
#right div{
    height: fit-content;
    width:fit-content;
}
#logo{
    font-family: cursive;
    color: #454b1b;
}
.green{
    background-color: #454b1b;
    border: solid #454b1b;
    color: white;
}
#email{
    box-sizing: border-box;
    width: 120%;
    height: 30px;
}
#continue{
    box-sizing: border-box;
    width: 120%;
    height: 30px;
    border-radius: 2px;
    display: block;
}
#input{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#full-price a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #454b1b;
}
@media all and (max-width: 800px) {
    body{
        flex-direction: column;
        height: fit-content;
        scroll-snap-type: y mandatory;
    }
    body div{
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    #left{
        background-image: url(picture-portrait.jpg);
        background-size: cover;
    }
}