html{
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body div{
    width: 50%;
    height: 100%;
}
#left{
    background-image: url(picture-portrait.jpg);
    background-size: cover;
}
#introtext{
    position: absolute;
    color: white;
    top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    line-height: 2rem;
    height: 100px;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
#cursor{
    display: inline-block;
    width: 2px;
    height: 45%;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
    
}
#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#right #text{
    text-align: center;
    font-weight: 600;
}
#text #verybold{
    font-size: 30px;
}
#right div{
    height: fit-content;
    width:fit-content;
}
#logo{
    font-family: cursive;
    color: #454b1b;
}
.green{
    background-color: #454b1b;
    border: solid #454b1b;
    color: white;
}
#email{
    box-sizing: border-box;
    width: 120%;
    height: 30px;
}
#continue{
    box-sizing: border-box;
    width: 120%;
    height: 30px;
    border-radius: 2px;
    display: block;
}
#input{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#full-price a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #454b1b;
}
@media all and (max-width: 800px) {
    body{
        flex-direction: column;
        height: fit-content;
        scroll-snap-type: y mandatory;
    }
    body div{
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    #left{
        background-image: url(picture-portrait.jpg);
        background-size: cover;
        display: flex;
        padding-bottom: 20px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        background-color: inherit;
        align-self: flex-end;
    }
    #scrollcon{
        border: solid white 1px;
        width: 20px;
        height: 40px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        
    }
    #scroll{
        width: 2px;
        height: 2px;
        border: solid white;
        border-radius: 50%;
        background-color: white;
        animation: scroll 2s ease-in 500ms infinite forwards;
    }
    @keyframes scroll {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.5;
        }
        50%{
            opacity: 1;
        }
        75%{
            opacity: 0.5;
        }
        100%{
            transform: translateY(400%);
            opacity: 0;
        }
    }
}